<%- include('head', { sivu: 'Elokuvat' }) %>
<div style="display: flex;">
    <aside style="width: 100%; height: fit-content;">
        <h2>Kategoriat</h2>
        <div id="kategoriat">
            <div id="kategoriakortit">
                <% for(const kategoria of kategoriat) { %>
                    <div class="kategoriakortti">
                        <a href="/elokuvat?category=<%= kategoria.category_id %>"><button><%= kategoria.name %></button></a>
                    </div>
                <% } %>
            </div>
        </div>
    </aside>
    <main>
        <h2>Elokuvat</h2>
        <% if (elokuvat.length > 0) { %>
            <% if (paginate.hasPreviousPages || paginate.hasNextPages(sivumaara)) { %>
                <div id="sivutus">
                    <% if (paginate.hasPreviousPages) { %>
                    <a href="<%= paginate.href(true) %>"> < </a>
                    <% } %>
                    <% pages.forEach((page) => { %>
                        <a href="<%= page.url %>" class="<%= paginate.page == page.number ? 'active' : ''%>"><%= page.number %></a>
                    <% }) %>
                    <% if (paginate.hasNextPages(sivumaara)) { %>
                    <a href="<%= paginate.href() %>"> > </a>
                    <% } %>
                </div>
            <% } %>
        <% } %>
        <div id="elokuvat" style="width: 100%;">
            <div id="elokuvakortit">
                <% for(const elokuva of elokuvat) { %>
                    <div class="elokuvakortti">
                        <div class="flex">
                            <h3><%= elokuva.title %></h3>
                            <p><%= elokuva.rental_rate %>€ / <%= elokuva.rental_duration %> päivää</p>
                        </div>
                        <div class="flex">
                            <p><%= elokuva.category_name %></p>
                            <p><%= elokuva.rating %></p>
                        </div>
                        <p><%= elokuva.description %></p>
                    </div>
                <% } %>
            </div>
        </div>
        <% if (elokuvat.length > 0) { %>
            <% if (paginate.hasPreviousPages || paginate.hasNextPages(sivumaara)) { %>
                <div id="sivutus">
                    <% if (paginate.hasPreviousPages) { %>
                    <a href="<%= paginate.href(true) %>"> < </a>
                    <% } %>
                    <% pages.forEach((page) => { %>
                        <a href="<%= page.url %>" class="<%= paginate.page == page.number ? 'active' : ''%>"><%= page.number %></a>
                    <% }) %>
                    <% if (paginate.hasNextPages(sivumaara)) { %>
                    <a href="<%= paginate.href() %>"> > </a>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    </main>
</div>
<%- include('footer') %>