<%- include('head', { sivu: elokuva.title }) %>
<% 
// https://codingbeautydev.com/blog/javascript-convert-minutes-to-hours-and-minutes/
function toHoursAndMinutes(totalMinutes) {
  const hours = Math.floor(totalMinutes / 60);
  const minutes = totalMinutes % 60;

  return { hours, minutes };
}
%>
<main id="elokuva">
  <div>
    <div class="flex">
      <h1><%= elokuva.title %></h1>
      <p><%= elokuva.rental_rate %> € / <%= elokuva.rental_duration %> päivää</p>
    </div>
    <div class="flex">
      <div class="elokuvaflex">
        <% const pituus = toHoursAndMinutes(elokuva.length) %>
        <p><%= pituus.hours %>h <%= pituus.minutes %>m |</p>
        <p> | <%= elokuva.release_year %></p>
      </div>
      <p>Ikäraja: <%= elokuva.rating %></p>
    </div>
  </div>
  <div>
    <a href="/elokuvat?category=<%= elokuva.category_id %>"><button id="kategoria"><%= elokuva.category_name %></button></a>
  </div>
  <div>
    <p><%= elokuva.description %></p>
  </div>
  <div id="elokuvanayttelijat">
    <p><strong>Näyttelijät:</strong></p>
    <% nayttelijat.forEach((nayttelija) => { %>
        <a href="/elokuvat?nayttelija=<%= nayttelija.nayttelija_id %>"><%= nayttelija.first_name.toLowerCase() %> <%= nayttelija.last_name.toLowerCase() %></a>
    <% }) %>
  </div>
  <div>
    <% if (elokuva.og_language) { %>
      <p><strong>Alkuperäinen kieli:</strong> <%= elokuva.og_language %></p>
    <% } %>
    <p><strong>Kieli:</strong> <%= elokuva.language %></p>
    <p><strong>Erikoisuudet:</strong></p>
    <% elokuva.special_features.forEach((erikoisuus) => { %>
        <button class="erikoisuus"><%= erikoisuus %></button>
    <% }) %>
  </div>
</main>
<%- include('footer') %>